@use 'variables' as v;

// @mixin heading($color: v.$black, $border-radius: false) {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;

//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }

@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: v.$large-desktop) {
        @content;
    }
}

@mixin grid($columns: 2, $gap: 2rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
}

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}