@use 'base/mixins' as m;
@use 'base/variables' as v;

.site-footer {
    background-color: v.$pink;
    padding: 1rem;
    p {
        margin: 0;
        text-align: center;
        color: v.$white;
    }
}