@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$green;
    h1 {
        color: v.$white;
    }
}

.main-navigation {
    a {
        color: v.$white;
        font-size: 2.4rem;

        &:hover { // &:hover is a parent selector, deletes the space on the CSS
            color: v.$yellow;
        }
    }
}