@use 'base/mixins' as m;
@use 'base/variables' as v;

.lineup {
    background-color: v.$pink;
    padding: 5rem 0;
    h3, p {
        color: v.$white;
        text-align: center;
    }
    .day {
        text-transform: uppercase;
        margin: 5rem 0;
    }
}
.stages-container {
    @include m.tablet {
        @include m.grid(2, 1);
    }
    p {
        color: v.$black;
    }
    .stage {
        padding-top: 2rem;
        .stage-name {
            &:after {
                content: '';
                display: block;
                width: 20rem;
                height: 10rem;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 2rem auto 0 auto;
            }
        }
    }
}

.edm .stage-name:after{
    background-image: url(../img/icono_edm.png);
}

.rock .stage-name:after{
    background-image: url(../img/icono_rock.png);
}

.yellow-bg {
    background-color: v.$yellow;
    li:nth-child(odd) {
        background-color: darken(v.$yellow, 15%);
    }
}

.green-bg {
    background-color: v.$green;
    li:nth-child(odd) {
        background-color: darken(v.$green, 15%);
    }
}

.calendar {
    @include m.reset-list;
    li {
        padding: 2.5rem;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
}